.top-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    
}

#middle-container{
    margin-left: 40px;
    margin-right: 100px;
    margin-bottom: 10px;
    padding-bottom: 110px;
    padding-top: 50px;
    justify-content: center;
    text-align: center;
}
#image img{
    width: 50vw;
    margin-left: 100px;
    animation: slide 2s ease;
}
h1{
    font-size: 4vw;
    text-align: left;
    font-family: 'montserrat', sans-serif;
    
    
}
p{
    margin-bottom: 80px;
    margin-top: -30px;
    text-align: left;
    font-family: "roboto", sans-serif;
    font-size: 1.5vw;
    
}
input{
    height: 60px;
    width: 90%;
    margin-bottom: 60px;
    margin-left: -30px;
    padding-left: 20px;
    border: 1.5px solid #460d86;
    border-radius: 30px;
    
    
}

a{
   text-decoration: none;
   width: 90%;
   padding: 25px;
}
button{
    width: 90%;
    margin-left: -30px;
    background-color: #460d86;
    border: none;
    border-radius: 30px;
    color: white;
    height: 60px;
    font-size: 15px;
    cursor: pointer;
}

a{
    color: black;
}

@keyframes slide{
    from{
        transform: translateX(-100px);
    }
}
